*{
    margin: 0;
    padding: 0;
}

h1
{
    text-align: center;
    font-size: 40px;
    color: white;
    /* vertical-align: middle; */
    padding-top: 2%;
}
header
{
height: 20vh;
background-color:#A60400;
}
main{
    background-color: #2E2B26;
    height: auto;
    color:white;
}

form{
    padding-top: 10vh;
    padding-left: 20vh;
    padding-right: 20vh;
    color: #920000;
}
